.pro {
  text-align: center;
}
.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card div {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 13px;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.card div img{
    height: 190px;
    width: 270px;
}
